<img src="logo.png" width="200"/>

# Operações

Há muitas operações com pandas que serão realmente úteis para você, mas não se enquadram em nenhuma categoria distinta. Vamos mostrar aqui nesta aula:

In [31]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

### Informação sobre valores exclusivos

In [32]:
df['col2'].unique()

array([444, 555, 666])

In [33]:
df['col2'].nunique()

3

In [34]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

### Selecionando dados

In [35]:
# Selecione do DataFrame usando critérios de várias colunas
newdf = df[(df['col1']>2) & (df['col2']==444)]

In [36]:
newdf

   col1  col2 col3
3     4   444  xyz

### Aplicando funções

In [37]:
def times2(x):
    return x*2

In [38]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [39]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [48]:
df['col1']

0    1
1    2
2    3
3    4
Name: col1, dtype: int64

In [40]:
df['col1'].sum()

10

In [41]:
df['col1'].count()

4

In [42]:
df['col1'].product()

24

In [43]:
df['col1'].mean()

2.5

In [44]:
df['col1'].max()

4

In [45]:
df['col1'].min()

1

In [46]:
df['col1'].idxmax()

3

In [47]:
df['col1'].idxmin()

0

In [49]:
df['col1'].add(1)

0    2
1    3
2    4
3    5
Name: col1, dtype: int64

In [50]:
df['col1'].sub(1)

0    0
1    1
2    2
3    3
Name: col1, dtype: int64

In [51]:
df['col1'].mul(2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [52]:
df['col1'].div(2)

0    0.5
1    1.0
2    1.5
3    2.0
Name: col1, dtype: float64

** Removendo colunas permanentemente **

In [ ]:
del df['col1']

In [ ]:
df

** Obter nomes de coluna e índice: **

In [ ]:
df.columns

In [ ]:
df.index

** Ordenando um DataFrame **

In [ ]:
df

In [ ]:
df.sort_values(by='col2') #inplace=False por padrão

** Encontre Valores Nulos ou Verifique Valores Nulos **

In [ ]:
df.isnull()

In [ ]:
# Deleta linhas com valores NaN
df.dropna()

** Preenchendo os valores de NaN com outra coisa: **

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

In [ ]:
df.fillna('Preencher')

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
dicionario_map = {
    'foo': 'fu',
    'bar': 'bah',
}

In [ ]:
df['A'].map(dicionario_map)

In [ ]:
condicao = df == 'one'

In [ ]:
df.where(condicao, 0)

In [ ]:
df.pivot_table(values='D',index=['A', 'B'],columns=['C'])

In [ ]:
df.copy()