# Projeto - Funções adicionais

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_obesity = pd.read_csv("Datasets/obesity_cleaned.csv")

### to_frame() ou []

In [3]:
type(df_obesity["Year"])

pandas.core.series.Series

In [4]:
df_obesity["Year"].to_frame()

       Year
0      1975
1      1975
2      1975
3      1976
4      1976
...     ...
24565  2015
24566  2015
24567  2016
24568  2016
24569  2016

[24570 rows x 1 columns]

In [12]:
type(df_obesity["Year"].to_frame())

pandas.core.frame.DataFrame

In [13]:
type(df_obesity[["Year"]])

pandas.core.frame.DataFrame

### transpose()

In [18]:
df_obesity[["Year"]]

       Year
0      1975
1      1975
2      1975
3      1976
4      1976
...     ...
24565  2015
24566  2015
24567  2016
24568  2016
24569  2016

[24570 rows x 1 columns]

In [19]:
df_obesity[["Year"]].transpose()

,0,1,2,3,4,5,6,7,8,9,...,24560,24561,24562,24563,24564,24565,24566,24567,24568,24569
Year,1975,1975,1975,1976,1976,1976,1977,1977,1977,1978,...,2013,2014,2014,2014,2015,2015,2015,2016,2016,2016

### shift()

In [21]:
df_obesity["Year"]

       Year
0      1975
1      1975
2      1975
3      1976
4      1976
...     ...
24565  2015
24566  2015
24567  2016
24568  2016
24569  2016

[24570 rows x 1 columns]

In [20]:
df_obesity["Year"].shift(1)

0           NaN
1        1975.0
2        1975.0
3        1975.0
4        1976.0
          ...
24565    2015.0
24566    2015.0
24567    2015.0
24568    2016.0
24569    2016.0
Name: Year, Length: 24570, dtype: float64

### isin()

In [22]:
df_obesity["Year"].isin([1900, 1975])

0         True
1         True
2         True
3        False
4        False
         ...
24565    False
24566    False
24567    False
24568    False
24569    False
Name: Year, Length: 24570, dtype: bool

### values

In [23]:
df_obesity["Year"].values

array([1975, 1975, 1975, ..., 2016, 2016, 2016])

In [24]:
df_obesity.values

array([[0, 'Afghanistan', 1975, '0.5 [0.2-1.1]', 'Both sexes'],
       [1, 'Afghanistan', 1975, '0.2 [0.0-0.6]', 'Male'],
       [2, 'Afghanistan', 1975, '0.8 [0.2-2.0]', 'Female'],
       ...,
       [24567, 'Zimbabwe', 2016, '15.5 [12.0-19.2]', 'Both sexes'],
       [24568, 'Zimbabwe', 2016, '4.7 [2.5-8.0]', 'Male'],
       [24569, 'Zimbabwe', 2016, '25.3 [19.1-32.0]', 'Female']],
      dtype=object)

### to_dict()

In [26]:
df_obesity.set_index("Year").to_dict()

{'Unnamed: 0': {1975: 24446,
  1976: 24449,
  1977: 24452,
  1978: 24455,
  1979: 24458,
  1980: 24461,
  1981: 24464,
  1982: 24467,
  1983: 24470,
  1984: 24473,
  1985: 24476,
  1986: 24479,
  1987: 24482,
  1988: 24485,
  1989: 24488,
  1990: 24491,
  1991: 24494,
  1992: 24497,
  1993: 24500,
  1994: 24503,
  1995: 24506,
  1996: 24509,
  1997: 24512,
  1998: 24515,
  1999: 24518,
  2000: 24521,
  2001: 24524,
  2002: 24527,
  2003: 24530,
  2004: 24533,
  2005: 24536,
  2006: 24539,
  2007: 24542,
  2008: 24545,
  2009: 24548,
  2010: 24551,
  2011: 24554,
  2012: 24557,
  2013: 24560,
  2014: 24563,
  2015: 24566,
  2016: 24569},
 'Country': {1975: 'Zimbabwe',
  1976: 'Zimbabwe',
  1977: 'Zimbabwe',
  1978: 'Zimbabwe',
  1979: 'Zimbabwe',
  1980: 'Zimbabwe',
  1981: 'Zimbabwe',
  1982: 'Zimbabwe',
  1983: 'Zimbabwe',
  1984: 'Zimbabwe',
  1985: 'Zimbabwe',
  1986: 'Zimbabwe',
  1987: 'Zimbabwe',
  1988: 'Zimbabwe',
  1989: 'Zimbabwe',
  1990: 'Zimbabwe',
  1991: 'Zimbabwe',
  1992: 'Zimbabwe',
  1993: 'Zimbabwe',
  1994: 'Zimbabwe',
  1995: 'Zimbabwe',
  1996: 'Zimbabwe',
  1997: 'Zimbabwe',
  1998: 'Zimbabwe',
  1999: 'Zimbabwe',
  2000: 'Zimbabwe',
  2001: 'Zimbabwe',
  2002: 'Zimbabwe',
  2003: 'Zimbabwe',
  2004: 'Zimbabwe',
  2005: 'Zimbabwe',
  2006: 'Zimbabwe',
  2007: 'Zimbabwe',
  2008: 'Zimbabwe',
  2009: 'Zimbabwe',
  2010: 'Zimbabwe',
  2011: 'Zimbabwe',
  2012: 'Zimbabwe',
  2013: 'Zimbabwe',
  2014: 'Zimbabwe',
  2015: 'Zimbabwe',
  2016: 'Zimbabwe'},
 'Obesity (%)': {1975: '6.7 [3.0-12.2]',
  1976: '7.0 [3.3-12.4]',
  1977: '7.4 [3.6-12.7]',
  1978: '7.7 [3.9-13.1]',
  1979: '8.1 [4.3-13.4]',
  1980: '8.4 [4.6-13.7]',
  1981: '8.8 [5.0-14.1]',
  1982: '9.2 [5.3-14.5]',
  1983: '9.6 [5.7-14.9]',
  1984: '10.1 [6.1-15.3]',
  1985: '10.5 [6.5-15.7]',
  1986: '11.0 [7.0-16.1]',
  1987: '11.4 [7.4-16.5]',
  1988: '11.9 [7.9-17.0]',
  1989: '12.4 [8.4-17.6]',
  1990: '12.9 [8.9-18.0]',
  1991: '13.4 [9.4-18.5]',
  1992: '14.0 [9.9-19.0]',
  1993: '14.5 [10.3-19.5]',
  1994: '15.0 [10.8-20.0]',
  1995: '15.5 [11.3-20.5]',
  1996: '16.0 [11.8-21.1]',
  1997: '16.5 [12.2-21.6]',
  1998: '17.0 [12.7-22.1]',
  1999: '17.5 [13.2-22.6]',
  2000: '18.0 [13.6-23.1]',
  2001: '18.5 [14.1-23.7]',
  2002: '19.0 [14.5-24.1]',
  2003: '19.5 [15.0-24.6]',
  2004: '19.9 [15.4-25.1]',
  2005: '20.4 [15.9-25.7]',
  2006: '20.9 [16.3-26.2]',
  2007: '21.3 [16.6-26.6]',
  2008: '21.7 [17.0-27.1]',
  2009: '22.2 [17.4-27.7]',
  2010: '22.6 [17.7-28.1]',
  2011: '23.0 [18.0-28.8]',
  2012: '23.5 [18.3-29.3]',
  2013: '23.9 [18.5-30.0]',
  2014: '24.4 [18.8-30.6]',
  2015: '24.8 [18.9-31.3]',
  2016: '25.3 [19.1-32.0]'},
 'Sex': {1975: 'Female',
  1976: 'Female',
  1977: 'Female',
  1978: 'Female',
  1979: 'Female',
  1980: 'Female',
  1981: 'Female',
  1982: 'Female',
  1983: 'Female',
  1984: 'Female',
  1985: 'Female',
  1986: 'Female',
  1987: 'Female',
  1988: 'Female',
  1989: 'Female',
  1990: 'Female',
  1991: 'Female',
  1992: 'Female',
  1993: 'Female',
  1994: 'Female',
  1995: 'Female',
  1996: 'Female',
  1997: 'Female',
  1998: 'Female',
  1999: 'Female',
  2000: 'Female',
  2001: 'Female',
  2002: 'Female',
  2003: 'Female',
  2004: 'Female',
  2005: 'Female',
  2006: 'Female',
  2007: 'Female',
  2008: 'Female',
  2009: 'Female',
  2010: 'Female',
  2011: 'Female',
  2012: 'Female',
  2013: 'Female',
  2014: 'Female',
  2015: 'Female',
  2016: 'Female'}}

### isna()

In [29]:
df_obesity["Sex"].isna()

0        False
1        False
2        False
3        False
4        False
         ...
24565    False
24566    False
24567    False
24568    False
24569    False
Name: Sex, Length: 24570, dtype: bool