In [1]:
import sqlite3

In [2]:
import pandas as pd

In [3]:
conn = sqlite3.connect('web_test.db')

In [15]:
df_data = pd.read_csv('bd_data.csv', index_col=0)
df_data.index.name = 'index_name'
df_data.to_sql('data', conn, index_label='index_name')

201

In [8]:
c = conn.cursor()
c.execute('CREATE TABLE products (product_id, product_name, price)')
conn.commit()

In [14]:
c.execute('DROP TABLE products')
c.execute('DROP TABLE data')

In [16]:
c.execute('CREATE TABLE products ([product_id] INTEGER PRIMARY KEY, [product_name] TEXT, [price] INTEGER)')

In [17]:
# INSERT
c.execute('''INSERT INTO products (product_id, product_name, price)
    VALUES
    (1, 'Computer', 800),
    (2, 'Printer', 200),
    (3, 'Tablet', 300)
''')

In [18]:
conn.commit()

In [19]:
df_data2 = df_data.iloc[::-2]
df_data2.to_sql('data', conn, if_exists='append')

101

In [24]:
c.execute("SELECT * FROM data")
c.fetchone()
c.fetchall()
df = pd.DataFrame(c.fetchall())

In [25]:
c.execute("SELECT * FROM data WHERE A > 200")
df = pd.DataFrame(c.fetchall())